/* ----------- FONT ------------ */

@font-face {
    font-family:'Favorit';
    font-style: normal;
    font-weight: 400;
    src: local('Favorit'), url('fonts/favorit-regular.otf') format('opentype');
  }
  
  @font-face {
    font-family:'Favorit';
    font-style: normal;
    font-weight: 500;
    src: local('Favorit'), url('fonts/favorit-medium.otf') format('opentype');
  }

body{
    background-color:black;
}

form{
    width:500px;
}


label,input,textarea {
  display: inline-block;
  box-sizing: border-box;
}

label{
    font-family: 'Favorit';
    font-weight:400;
    color:white;
    font-size:16px;
    position: relative;
    top: 42px;
    left: 26px;
    opacity:0.7;
}

input,textarea{
    font-family: 'Favorit';
    font-size:28px;
    padding:40px 26px 26px 26px;
    width:100%;
    border-radius: 28px;
    background-color:black;
    border:2px solid white;
    color:white;
    margin-bottom:0;
}

input[type=submit]{
    margin-top:20px;
    height:100px;
    width:100%;
    font-family: 'Favorit';
    background-color:white;
    color:black;
    padding:0;
}